#form-subscripcion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 1.2rem;
}

.input-group {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
}

.wide {
    grid-column: span 2;
}

.input-group input {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--gray-color);
    font-size: 1.2rem;
}
.input-group label {
    margin: 0px 4px 4px 4px;
}

.input-group input:focus {
    outline-color: var(--orange-color);
}

.input-group input[type="submit"] {
    cursor: pointer;
    background-color: var(--orange-color);
    color: white;
    border: none;
}

.input-group input[type="submit"]:active {
    background-color: #8f3504;
}

.input-group input.error {
    border: 2px solid #f10808;
}

a {
    color: var(--orange-color);
}

a:visited {
    color: var(--orange-color);
}